matplotlib
numpy
openmeteo_requests
pandas
# pandasgui==0.2.14 #hat Probleme mit docker verursacht und ist auch nur für Debug-zwecke --> ggf. nachinstallieren
requests
requests_cache
retry_requests
scipy
scikit-learn
torch
streamlit
folium
streamlit_folium
plotly
openpyxl #wird von Pandas genutzt um Excel Datein zu öffnen